<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <joint name="laser_joint" type="fixed">
    <axis xyz="0 1 0" />
<!--
    may not be the reall pose, it is just an estimation
-->
    <origin xyz="0 -0.50 0.14" rpy="0 0 ${-M_PI/2}"/>
    <parent link="base_link"/>
    <child link="laser_link"/>
  </joint>

  <property name="laser_link_sz" value="0.01"/>
  <!-- Camera -->
  <link name="laser_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    <box size="${laser_link_sz} ${laser_link_sz} ${laser_link_sz}"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    <box size="${laser_link_sz} ${laser_link_sz} ${laser_link_sz}"/>
      </geometry>
      <material name="red"/>
    </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>
</robot>
